@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
}
body {
  /* text-align: center; */
  /* text-transform: capitalize; */
  font-family: "Poppins", sans-serif;
}
.heading {
  text-decoration: underline;
  color: rgb(204, 149, 45);
  text-align: center;
}
.subheading {
  text-align: center;
}

.question {
  padding-left: 1rem;
  color: rgb(132, 101, 161);
}

.arrow {
  color: rgb(41, 177, 182);
}
.answer {
  color: rgb(146, 129, 129);
}
